<h1> Welcome to Goober! </h1>



<%= link_to 'Sign In as a Rider', new_user_session_path, :method => :get %>

<%#= link_to 'Sign out (as rider)', destroy_user_session_path, :method => :delete %>

<br>
<br>
<br>


<%= link_to 'Sign In as a Driver', new_admin_session_path, :method => :get %>

<%= link_to 'Sign out (as driver)', destroy_admin_session_path, :method => :delete %>


