
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'welcome';


.flash {
  font-size: 18px;
  color: white;
  text-align: center;
  background-color: #60BFBF;
}


.rider-dashboard-header h1, h5 {
  text-align: center;
}
