// Place all the styles related to the users/rides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.current-ride-info .col-md-2 {
  text-align: center;
}

.rider-dashboard-header {
  text-align: center;
}

.request-ride-button {
  margin-left: 42%;
}
